function run_ssh_env {
  . "${SSH_ENV}" > /dev/null
}

function start_ssh_agent {
  echo "Initializing new SSH agent..."
  ssh-agent | sed 's/^echo/#echo/' > "${SSH_ENV}"
  echo "succeeded"
  sudo chmod 600 "${SSH_ENV}"

  run_ssh_env;
}

function add_ssh_keys {
  {{~#each ssh.key-files}}
  ssh-add {{this}};
  {{~/each}}
}
