function run_ssh_env {
  . "${SSH_ENV}" > /dev/null
}

function start_ssh_agent {
  echo "Initializing new SSH agent..."
  ssh-agent | sed 's/^echo/#echo/' > "${SSH_ENV}"
  echo "succeeded"
  sudo chmod 600 "${SSH_ENV}"

  run_ssh_env;
}

function add_ssh_keys {
  local ssh-keys={{ssh.key-files}};
  for key in "$ssh-keys"; do
    ssh-add $key;
  done;
}
