[user]
	name = {{ git.name }}
	email = {{ git.email }}
{{#if dotter.packages.gpg}}
	signingkey = {{ gpg.signingKey }}
		{{/if}}
[init]
	defaultBranch = main
[alias]
	pullall = !git pull && git submodule update --init --recursive
	push = push -u
	st = status
	unstage = reset HEAD --
	co = checkout
	br = branch
	cm = commit -m
	unstageall = reset --soft HEAD^
	lp = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate
	listaliases = !git config -l | grep alias | cut -c 7-
	diff = diff --word-diff
	lastHash = rev-parse --verify HEAD
	lh = lastHash
	c = commit
	adog = log --all --decorate --oneline --graph
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	cleanup = branch -vv | grep origin | grep gone | awk '{print }'|xargs -L 1 git branch -d
	mt = mergetool
	fuck-up = reset HEAD --hard
	ls = ls-files
	pw = preview-changes
{{#if dotter.packages.fzf}}
	cb = forgit checkout_branch
{{/if}}
[core]
	sshCommand = "ssh -i {{git.default_ssh_key}}"

[help]
	autocorrect = prompt
[merge]
	conflictstyle = zdiff3
{{#if dotter.packages.nvim}}
    tool = neovim
		{{/if}}
[mergetool "vscode"]
    cmd = code --wait $MERGED
[mergetool "neovim"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
    tool = neovim
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[difftool "neovim"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	verbose = true
{{#if dotter.packages.gpg}}
	gpgsign = true
		{{/if}}


[IncludeIf "gitdir:~/src/personal/**"]
	path = ~/src/personal/.gitconfig
[trim]
	bases = master,main
