{
  "parser-directories": [
    {{ tree-sitter.parser-directory }}
  ],
  "theme": {
    "embedded": null,
    "punctuation.delimiter": "brightBlack",
    "constant": "Yellow",
    "string.special": "Cyan",
    "punctuation.bracket": "brightBlack",
    "operator": {
      "color": "brightBlack",
      "bold": true
    },
    "variable.builtin": {
      "bold": true
    },
    "attribute": {
      "italic": true,
      "color": "Red"
    },
    "constant.builtin": {
      "bold": true,
      "color": "Yellow"
    },
    "comment": {
      "italic": true,
      "color": 236
    },
    "string": "Green",
    "number": {
      "bold": true,
      "color": "Yellow"
    },
    "property": "Red",
    "variable.parameter": {
      "underline": true
    },
    "constructor": "Yellow",
    "function": "Blue",
    "keyword": "BrightBlue",
    "tag": "Blue",
    "type": "Cyan",
    "type.builtin": {
      "bold": true,
      "color": "Cyan"
    },
    "function.builtin": {
      "bold": true,
      "color": "Blue"
    }
  }
}
